<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dac.app_moki">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <service
            android:name=".view.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".view.notification.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_alert" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".view.login.Login_Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.home.Home_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.product.ProductDetail_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.user.UserInfo_Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.search.Search_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.search.ResultSearch_Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.menu.News_Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.product.SaleCamera_Activity">

        </activity>
        <activity android:name=".view.menu.ListMyBuy_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.ListMyLike_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.ListMySale_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.Charity_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.Setup_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.SupportCenter_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.menu.IntroMoki_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.product.ProductCommentPage_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.search.SearchBrand_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.search.SearchSize_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.search.SearchCategories_Activity"
            android:screenOrientation="portrait"
            android:permission="android.permission.INTERNET"
            >

        </activity>
        <activity android:name=".view.search.SearchCondition_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.my_tutorial.Tutorial_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.product.PostProduct"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.product.ImageDetail"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.conversation.Chat_Activity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.tutorial.StartUpTutorialActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
